*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
}
.header{
    background-color: azure;

}
.nav{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    flex-wrap: wrap;
}
#logo {
    text-decoration: none;
    padding: 10px 5px;
    color: cornflowerblue   ;
    font-size: 2.2em;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}
.nav ul{
    padding: 10px 20px 10px 20px;
    list-style:none;
    display:flex;
    flex-wrap: wrap;
    gap: 2.2em ;
    color: cornflowerblue;
    font-size: 1.2em;
}
.nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: cornflowerblue;  
    font-weight: 600;
}
.nav ul li a:hover{ 
    border-bottom: 2px solid rgb(3, 3, 86);
    color:rgb(3, 3, 86) ;
}
.main{
    background-color: #000016;
    height: 91.5vh;
}
.content{
    width: 85%;
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info h2{
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing:.2rem;
    padding-top: 110px;
    font-size: 2em;
    padding-bottom: 20px;
    color: cornflowerblue; 
    font-style: italic;
}
.info p{
    width: 360px;
    color: cornflowerblue;
    line-height: 1.6;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0 40px 10px ;
}

.info a{
    color: #000016;
    background-color: aliceblue;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    display: inline-block;
    padding: 15px 40px;
    letter-spacing: 1px;
    border-radius: 15px;
    transition: 0.7s ease;
} 
.info a:hover{
    transform: scale(1.1);
    background-color: transparent;
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
}
img{
    margin-top: 50px;
    height: 400px;
    width: 400px;
    /* padding: 50px; */
}